
label {
  cursor:pointer
}
#form-switch {
  display:none
}
#register-form {
  display:none
}
#form-switch:checked~#register-form {
  display:block
}
#form-switch:checked~#login-form {
  display:none
}

.loginInput{
  margin-right:5px;
  border-radius: 10px;
  border-radius: 10px;
  font-family: 'pacifico';
}

.loginButton{
  border:none;
  color:white;
  margin-right:5px;
  margin-top:10px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  background: rgba(0,0,0,0.0); 
}

.loginButton:hover{
  color:rgb(113, 216, 113);
}

.RegisterButton{
  border:none;
  color:white;
  margin-right:5px;
  margin-top:5px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  background: rgba(0,0,0,0.0); 
  margin-bottom:10px;
}

.RegisterButton:hover{
  color:rgb(113, 216, 113);
}

.logoImage2{
  margin-top:30px;
    margin-bottom:-30px;
    height: 350px;
    width:600px;
}

@media only screen and (max-width: 700px) {
 .logoImage2 {
  margin-top:80px;
  margin-bottom:0px;
  height: 150px;
  width:300px;
  }

}

#loginContainer{

  max-width: 700px;
  height:600px;
  margin-top:10px;
  margin-right:auto;
  margin-left:auto;
  background-image: url("../../images/1.jpg");
  color:black;
  text-align:center;
  border-radius: 10px;
  margin-bottom:2%;
  font-family: 'Open Sans', sans-serif;
  border:solid rgb(255, 225, 0) 3px;
}

.registerInput{
  font-family: 'pacifico';
  border-radius: 10px;
  height:30px;
  margin-bottom:10px;
  width:50%;
}

.returnToLogin{
  font-family: 'pacifico';
  color:white;
}
.returnToLogin:hover{
  color:rgb(113, 216, 113);
}